{#
/**
 * @file
 * Default theme implementation for the modules uninstall page.
 *
 * Available variables:
 * - form: The modules uninstall form.
 * - modules: Contains multiple module instances. Each module contains:
 *   - attributes: Attributes on the row.
 *   - module_name: The name of the module.
 *   - checkbox: A checkbox for uninstalling the module.
 *   - checkbox_id: A unique identifier for interacting with the checkbox
 *     element.
 *   - name: The human-readable name of the module.
 *   - description: The description of the module.
 *   - disabled_reasons: (optional) A list of reasons why this module cannot be
 *     uninstalled.
 *
 * @see template_preprocess_system_modules_uninstall()
 *
 * @ingroup themeable
 */
#}
<table class="responsive-enabled" data-striping="1">
  <thead>
    <tr>
      <th>{{ 'Template'|t }}</th>
      <th>{{ 'Template Alias'|t }}</th>
    </tr>
  </thead>
  <tbody>
    {% for template in node_templates %}
      {% set zebra = cycle(['odd', 'even'], loop.index0) -%}
      <tr{{ template.attributes.addClass(zebra) }}>
        <td>
          <label class="template-name">{{ template.template_name }}</label>
        </td>
        <td class="template-alias">
          <span class="text">{{ template.template_alias }}</span>
        </td>
      </tr>
    {% else %}
      <tr class="odd">
        <td colspan="2" class="empty message">{{ 'No node template are available.'|t }}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>

{{ form|without('node_templates', 'node_templates_alias') }}
